/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #a0ebba;
    line-height: 1.6;
  }

  header span{
    color: rgb(150, 233, 160);
    font-weight: 600;
  }
  header h1 {
    color: #96e9a0;
     
  }

  .logo {
    position:absolute;
    top: 20px;
    left: 50px;
}

.logo img {
    height: 90px; /* Adjust the size as needed */
}

  
  h2, h3 {
    color: #4CAF50;
  }
  
  header {
    background-color: #1cb321;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: none;
    color:#b5e996 ;
  }
  
  section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .recipe {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #a0ebba;
    border-radius: 5px;
  }
  
  .recipe img {
    width: 25%;
    height: auto;
    border-radius: 10px;
  }
  
  .recipe h3 {
    margin-top: 10px;
  }
  
  .recipe p {
    margin: 10px 0;
  }
  
  .recipe a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
  }
  
  .recipe a:hover {
    background-color: #45a049;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }

  /* Form Styling */
form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

form input[type="email"],
form input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #1cb321;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

form button:hover {
  background-color: #169c1b;
}

.error-message {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
  display: none;
}

.recipe-content img {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  margin: 20px 0;
}

.back-link a {
  color: #1cb321;
  text-decoration: none;
  font-size: 0.9em;
}
 
.recipe-content h2 {
  margin-top: 20px;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 5px;
}

.recipe-content ul,
.recipe-content ol,
.recipe-content p {
  margin: 10px 0;
  padding: 20px;
  background-color: #a0ebba82;
  border: 1px solid #b5e996;
  border-radius: 5px;
}

/* Additional spacing between the sections */
.recipe-content ul,
.recipe-content ol {
  margin-top: 15px;
}